{% extends "base.html" %}
{% load cms_tags %}
{% load static %}

{% block base_content %}
	{% placeholder template_1_content %}
	{% block title %}	
	{% endblock title %}
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/logo.png' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Le Chaos par UpperCuite déboule!</h1>
              <p>(et des bites)</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Engagez nous!</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/photos/bastille.JPG' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Manche à Bastille</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/photos/marseille.JPG' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Manche à Marseille</h1>
              <p>Des fois, on se déplace même chez l'ennemi!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/photos/canal.jpg' %}" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Manche au Canal Saint-Martin</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'img/trumpet_player.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Venez nous voir jouer!</h2>
          <p>Prochaine date: le 5 juillet à République, 15h!!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'img/biere.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Coup sec!</h2>
          <p>Fanfare de french savate. Nique sa race les textes, je compte sur vous</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'img/yeah.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Besoin d'animation?</h2>
          <p>Faîtes nous un petit mail et on viendra vous apprendre la savate francaise, cuivre à la main.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Le CUC, c'est bieng. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">J'ai la tête dans le CUC ptin, j'ai pas d'idée.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="{% static 'img/trumpet.png' %}" alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Mais pas queue. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Idem, faut meubler les gars. Poum tshac poum tshi tak.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="{% static 'img/drums.png' %}"  alt="">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock base_content %}
